{% for message in app.flashes('error') %}
    <div class="alert alert-danger"><strong>Error!</strong> {{ message }}</div>
{% endfor %}
{% for message in app.flashes('success') %}
    <div class="alert alert-success"><strong>Success!</strong> {{ message }}</div>
{% endfor %}